# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
venv/
ENV/

# Lambda build
app/
function.zip
python/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Test
*.log
coverage/

# Others
*.bak
*.swp